# Folder Python cache
__pycache__/
*.pyc

# Log file
*.log

# Folder downloads (video hasil download)
downloads/

# Config atau secrets lain (jika ada)
.env

# Folder cookies tetap ada di repo tapi file di dalamnya di-ignore
#cookies/*
#!cookies/.gitkeep
